<div class="container mt-4">
    <h2 class="mb-3">Create Product</h2>

    <form [formGroup]="productForm" (ngSubmit)="onUpdate()">

        <!-- Product Name -->
        <div class="mb-3">
            <label class="form-label">Product Name</label>
            <input type="text" class="form-control" formControlName="title" required>
        </div>

        <!-- Price -->
        <div class="mb-3">
            <label class="form-label">Price</label>
            <input type="number" class="form-control" formControlName="price" required>
        </div>


        <!-- Image URL -->
        <div class="mb-3">
            <label class="form-label">Image URL</label>
            <input type="text" class="form-control" formControlName="imageurl">
        </div>

         <!-- Image URL -->
        <div class="mb-3">
            <label class="form-label">Product description</label>
            <input type="text" class="form-control" formControlName="description">
        </div>

        <button class="btn btn-primary" type="submit">Update</button>

    </form>
</div>