.login-container {
  width: 300px;
  margin: 50px auto;
  background: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.form-group {
  margin-bottom: 15px;
}

input.form-control {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button.btn {
  width: 100%;
  padding: 10px;
}

.is-invalid {
  border-color: red;
}

.invalid-feedback {
  color: red;
  font-size: 12px;
}



.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.loader div {
  width: 12px;
  height: 12px;
  background-color: #ca0c2c;
  border-radius: 50%;
  margin: 0 5px;
  animation: bounce 0.6s infinite alternate;
}

h1{
  display: block;
}
.loader div:nth-child(2) {
  animation-delay: 0.2s;
}

.loader div:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bounce {
  to {
    transform: translateY(-20px);
    opacity: 0.5;

  }

}
