<h2>Graphical Shapes</h2>

<!-- Custom HTML Elements-->
 
<line [size]="300" [color]="'blue'" 
      [x1]="20" [y1]="30" [x2]="200" [y2]="200"> 
</line> 
<rect [size]="300" [color]="'blue'" 
       [x1]="20" [y1]="30" 
       [x2]="200" [y2]="200" > </rect>
 
<ellipse [size]="100" [color]="'red'"> </ellipse> 
<smiley [size]="100" [color]="'red'"> </smiley>


<h1>Transflower</h1>
<p>Doing ordinary things extr ordinarily</p>

<div>
      <form method="post" action="/api/auth/register">
            <table>
                  <tr>
                        <td> Name</td>
                        <td> <input type="text" /></td>
                  </tr>
                  <tr>
                        <td></td>
                        <td> <button type="submit" >Register</button>
                  </tr>
            </table>
      </form>
</div>