
<td class="text-center">
    <img src="{{item?.imageUrl}}" width="60" height="60" class="rounded">
</td>
<td>{{item.title}}</td>
<td class="text-end">₹ {{item.price}}</td>
<td class="text-center">
    <input type="number" class="form-control text-center mx-auto" style="width: 80px;" min="1" value="2" />
</td>
<td class="text-end">{{item.price}}</td>

<td class="text-center">
    <button class="btn btn-sm btn-outline-danger" (click)="OnRemoveClick(item.productId)">
        <i class="bi bi-trash"></i> Remove
    </button>
</td>
