.btn-group {
  .btn {
    transition: all 0.2s ease-in-out;
    font-size: 0.875rem;

    i {
      font-size: 0.875rem;
    }

    &:hover {
      transform: scale(1.05);
      i {
        font-weight: bold;
      }
    }

    &:active {
      transform: scale(0.95);
    }
  }
}
